h1 {
    text-align: center;
    padding: 2rem;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}

li {
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:lightgray;
}

li img {
    width: 300px;
    height: auto;
}

li h3 {
    text-align: center;
}

.contenedor {
        display: flex;
        flex-direction: row;
        width: 100%; 
}


.filtros {
    height: 400px;
    background-color:gainsboro;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 7px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 2rem;
    margin-left: 20px;
    border: 2px solid;
    border-radius: 5px;
    position: relative;
}

label {
    padding: 1px;
}

.limpiar-filtros {
  position: absolute; /* posiciona 'absolute' el botón */
  bottom: 10px; /* pone el botón a 10px del bottom */
  left: 50%; /* lo centra horizontalmente */
  transform: translate(-50%); 
  

}





